<app-header
    (scaleChange)="scale = $event"
    (openSettingsClick)="showSettings = true"
    (viewModeChange)="viewMode = $event"
    (activeTabChange)="displayedMediaType = $event"
    (showGroupsChange)="showGroups = $event"
    (triggerSearch)="searchText = $event"
></app-header>
<ng-container *ngIf="!showSettings">
    <ng-container *ngIf="!mediaService.loadError; else notElectronMessage">
        <app-media-list
            [media]="displayedMedia"
            [class.detailsOpen]="selectedMedia"
            [(selectedMedia)]="selectedMedia"
            [viewMode]="viewMode"
            [scale]="scale"
            (mouseenter)="selectedMedia = null"
        ></app-media-list>
        <app-media-details *ngIf="selectedMedia" [media]="selectedMedia" (closeClick)="selectedMedia = null"></app-media-details>
        <ng-template #notElectronMessage>
            <div>Error loading media: {{ mediaService.loadError }}</div>
        </ng-template>
    </ng-container>
</ng-container>
<app-settings *ngIf="showSettings" (closeClick)="closeSettings()"></app-settings>
