$headerHeight: 60px;
$backgroundColor: #0a415a;

:host {
   display: block;
   width: 100%;
   height: 100%;
   background-color: $backgroundColor;
}

app-header {
   position: relative;
   z-index: 1;
   display: block;
   height: $headerHeight;
   background-color: darken($color: $backgroundColor, $amount: 7);
   box-shadow: 0px 0px 15px 0px black;
}

app-media-list {
   display: inline-block;
   overflow-y: auto;
   padding: 10px;
   width: 100%;
   height: calc(100% - #{$headerHeight});
   vertical-align: top;
}

app-media-details {
    position: absolute;;
    right: 0px;
    padding: 10px;
    width: 50%;
    height: CALC(100% - #{$headerHeight});
    background-color: darken($color: $backgroundColor, $amount: 3);
    box-shadow: 0px 0px 15px 0px black;
    vertical-align: top;
    opacity: 0.99;
}

app-settings {
    display: block;
    overflow-y: auto;
    padding: 10px;
    width: 100%;
    height: CALC(100% - #{$headerHeight});
}